* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: 300;
  font-size: .95rem;
  outline: 0;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  border-radius: 60px;
  background: #04a2ff;
  background-color: -webkit-linear-gradient(to right, #0977ff, #04a2ff); 
  background: linear-gradient(to right, #0977ff, #04a2ff);
  color: white;
  cursor: pointer;
  line-height: 1.471;
  padding: 10px 19px;
  transition: background .3s ease;
  text-transform: uppercase;
}

.button__leave {
  border: 2px solid #04a2ff;
  color: #04a2ff;
  background: none;
}

button:hover {
  border: none;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  background-color: #0072ff;
  color: white;
  line-height: 1.471;
  padding: 10px 19px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
  line-height: 1.471;
  padding: 10px 19px;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: #00c6ff;
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff); 
  background: linear-gradient(to left, #0072ff, #00c6ff);
}

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 20px;
  width: 330px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 13px;
}

.form-field input, .form-field select {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 6px;
}

.form-field button {
  margin-bottom: 5px;
}

.chat {
  display: flex;
}

.chat__sidebar {
  border: none;
  overflow-y: scroll;
  width: 500px;
  height: 100vh;
  background: white;
}

.chat__sidebar h3 {
  color: white;
  padding: 23px;
  text-align: left;
}

.chat__sidebar h4 {
  color: black;
  padding: 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__sidebar__header {
  height: 9vh;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff); 
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: white;
}

.chat__sidebar__subheader {
  height: 7vh;
  background: #ecf0f3;
  border: none;
  color: black;
}

.chat__main {
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  background: #eff4f8;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__room__header {
  background: #ecf0f3;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.chat__room__header h3 {
  color: black;
  text-align: left;
}

.chat__footer {
  background: #ecf0f3;
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 65px;
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 20px;
}

.chat__footer input {
  padding-left: 20px;
  flex-grow: 1;
  border: none;
  border-radius: 30px;
  margin: 3px;
  margin-left: 10px;
  margin-right: 25px;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__form {
  display: flex;
  flex-direction: row;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}

section {
  max-width: 450px;
  margin: 50px auto;
}

section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
}

.from-me a {
  color: white;
}

.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background:#eff4f8;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}

.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #eff4f8;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}